html {
	padding-top: 10px;
	background: linear-gradient(#0066ed,#000087)  no-repeat fixed;
	margin-bottom:400px;
}
body {
	background: rgba(0,0,0,.3);
	padding: 10px;
	border-radius: 10px;
	margin: auto;
	font-family: arial;
	color: #fff;
	max-width: 850px;
}
div.logo {
	display: inline;
	font-size: 60px;
	text-align: center;
	
}
#logo {
	padding-top: 12px;
	margin: 0px 0px 60px 0px;
}
.block {
	padding: .25em;
	display: inline-block; 
	vertical-align: top;
	margin: auto;
}
.block ul {
	margin: 0;
	list-style: disc;
}
h3 {
	text-align: center;
}
img {
	float: left;
}
a:link, a:visited, a:hover, a:active {
	color: white;
	text-decoration: none;
}
